.btn-more {
	transition: background-color 0.25s ease-in-out;
	background: $white;
	padding: 5px 10px;
	color: $text-color !important;
    text-transform: uppercase;
    font-size: .5rem!important;
    letter-spacing: 3px;
    display: inline-block;
}

.btn-buy {
	transition: background-color 0.25s ease-in-out;
	background-color: $brand-orange;
	padding: 8px 13px;
	color: $white;
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-size: .9rem!important;
	letter-spacing: 3px;
	display: inline-block;
	border-radius: 3px;

	&:hover,
	&:active,
	&:visited {
		color: $white;
		background-color: lighten($brand-orange, 5%);
	}

	// when it's in different positions
	h1 & {
		position: relative;
		top: -7px;
		left: 10px;
	}

	.single-post-text & {
		margin-bottom: 20px;
	}

}