.single-artblog article,
.single-post article,
.page:not(.home) article {

	.single-post-text {
		padding-right: 40px;
	}

	img {
		background-color: $white;
		padding: 10px;
	}

	.page-header {
		flex-direction: column;
		align-items: flex-start;
    	justify-content: center;
	}

	.post-meta {
		display: flex;
		text-transform: uppercase;
		font-size: .6rem;
		letter-spacing: 2px;
		color: lighten($text-color, 30%);
		margin-top: 20px;

		.post-meta-child:nth-child(2) {
			border-left: 1px dotted darken($border-color, 10%);
		}

		i.fa {
			color: $brand-yellow;
		}

		time {
			margin-right: 10px;
		}

		.post-cat {
			
			padding-left: 10px;
		}
	}

	.entry-content {

		ul {
			margin-top: 30px;
			padding: 0 0 0 10px;

			li {
				list-style-type: none;
				position: relative;
				padding-left: 20px;

				&::before {
					content: "\2605";
					color: $brand-yellow;
					position: absolute;
    				left: 0;
				}
			}
		}

		// Opening paragraph
		> p:first-of-type {
			font-size: 1.5rem;
    		line-height: 1.4;
    		position: relative;

    		&::before {
    			content: "";
    			width: 20px;
    			border-top: 1px solid $brand-yellow;
    			top: -20px;
    			height: 1px;
    			position: absolute;
    		}
		}


	}


	blockquote {
		padding: 20px 20px 10px 50px;
		border-left: 3px solid $brand-yellow;
		position: relative;
		background-color: lighten($bg-grey, 1%);
		margin-bottom: 30px;

		&::before {
	        content: '\201C';
	        font-family: $font-family-sans-serif;
	        position: absolute;
	        left: 12px;
    		top: 0;
	        font-size: 65px;
	        color: $brand-yellow;
		}
	}

}

// Adjust img for Blog and Pages
.single-artblog article img,
.page:not(.home) article img {
	max-width: 150px;
	vertical-align: text-bottom;

	@include media-breakpoint-up(xl) {
		max-width: 250px;
		margin: 0 -60px 20px 20px;
	}
}

.single-post article .entry-content {
	margin-top: 30px;
}

.post-tags {
	display: flex;

	i {
		font-size: .7rem;
		line-height: 1.5rem;
		color: $brand-yellow;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			font-size: .7rem;
			display: inline-block;
			margin-left: 10px;
			text-transform: uppercase;

			&:after {
				content: ",";
			}

			&:last-of-type::after {
				content: "";
			}
		}
	}
}


