// Main containers, remove padding
.no-side-padding {
	padding-left: 0!important;
	padding-right: 0!important;
}

.no-side-margin {
	margin-left: 0!important;
	margin-right: 0!important;
}


.full-height {
	@include media-breakpoint-up(md) {
		min-height: 100vh;
	}
}

body {
	@include media-breakpoint-up(md) {
		flex-direction: row;
		align-items: stretch;
	}
}