// PRELOADER

a:link, a:active, a:hover, a:visited {
	text-decoration: none;
}

body {
	color: $text-color;
	font-weight: 200;
}

.content {
	position: relative;
}

// Overriding .tag classes from Bootstrap


#spinner-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;

	.spinners {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -50px;
		margin-top: -10px;
		width: 100px;
		height: 20px;
		text-align: center;

		// Spinner styles
		div {
			@include bounceIn($count: infinite);
			border-radius: 100%;
			display: inline-block;
			background: $brand-purple;
			margin-right: 3px;
			margin-left: 3px;
			width: 10px;
    		height: 10px;

    		&.spinner2 {
    			animation-delay: 0.1s;
    		}

    		&.spinner3 {
    			animation-delay: 0.2s;
    		}
		}
	}
}


#breadcrumbs {
	font-size: .6rem;
	height: 20px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
}


.content .main {
	position: relative;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 3rem;
}





// Main containers, remove padding
.no-side-padding {
	padding-left: 0!important;
	padding-right: 0!important;
}

.no-side-margin {
	margin-left: 0!important;
	margin-right: 0!important;
}


.full-height {
	@include media-breakpoint-up(md) {
		min-height: 100vh;
	}
}

body {
	@include media-breakpoint-up(md) {
		flex-direction: row;
		align-items: stretch;
	}
}


.position--fixed {
	@include media-breakpoint-up(md) {
		position: fixed!important;
	}
}

.position--absolute {
	position: absolute!important;
}

.position--relative {
	position: relative!important;
}

.wrap {
	background: $bg-grey;
	
	@include media-breakpoint-up(md) {
		flex: 1;
	}	
}



