// Main containers, remove padding
.no-side-padding {
	padding-left: 0!important;
	padding-right: 0!important;
}

.no-side-margin {
	margin-left: 0!important;
	margin-right: 0!important;
}


.full-height {
	@include media-breakpoint-up(md) {
		min-height: 100vh;
	}
}

body {
	@include media-breakpoint-up(md) {
		flex-direction: row;
		align-items: stretch;
	}
}


.position--fixed {
	@include media-breakpoint-up(md) {
		position: fixed!important;
	}
}

.position--absolute {
	position: absolute!important;
}

.position--relative {
	position: relative!important;
}


.content .main {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 3rem;
}

