// PRELOADER

a:link, a:active, a:hover, a:visited {
	text-decoration: none;
}

body {
	color: $text-color;
	font-weight: 200;
}

.content {
	position: relative;
}

// Overriding .tag classes from Bootstrap


#spinner-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 600px;
	z-index: 10;

	.spinners {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -50px;
		margin-top: -10px;
		width: 100px;
		height: 20px;
		text-align: center;

		// Spinner styles
		div {
			@include bounceIn($count: infinite);
			border-radius: 100%;
			display: inline-block;
			background: $brand-yellow;
			margin-right: 3px;
			margin-left: 3px;
			width: 10px;
    		height: 10px;

    		&.spinner2 {
    			animation-delay: 0.1s;
    			background: $brand-orange;
    		}

    		&.spinner3 {
    			animation-delay: 0.2s;
    			background: $brand-red;
    		}
		}
	}
}


#breadcrumbs {
	font-size: .6rem;
	height: 20px;
	line-height: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
    top: 20px;
    z-index: 1;
    color: lighten($text-color, 30%);
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	max-width: 275px;

	@include media-breakpoint-up(sm) {
		max-width: initial;
	}

    a {
    	transition: all 0.25s ease-in-out;
    	padding: 2px 5px;
    	background: $white;
    	color: lighten($text-color, 30%);

    	&:hover {
    		background-color: $brand-yellow;
    		color: $text-color;
    	}
    }
}


.content .main {
	position: relative;
	padding-bottom: 3rem;
	padding-left: 20px;
	padding-right: 20px;

	@include media-breakpoint-up(md) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@include media-breakpoint-up(lg) {
		padding-left: 40px;
		padding-right: 40px;
	}
}





// Main containers, remove padding
.no-side-padding {
	padding-left: 0!important;
	padding-right: 0!important;
}

.no-side-margin {
	margin-left: 0!important;
	margin-right: 0!important;
}


.full-height {
	@include media-breakpoint-up(md) {
		min-height: 100vh;
	}
}

body {
	@include media-breakpoint-up(md) {
		flex-direction: row;
		align-items: stretch;
	}
}


.position--fixed {
	@include media-breakpoint-up(md) {
		position: fixed!important;
	}
}

.position--absolute {
	position: absolute!important;
}

.position--relative {
	position: relative!important;
}

.wrap {
	background: $bg-grey;
	background-image: url(../images/watercolor2.jpg);
	background-position: 120% -64%;
	background-repeat: no-repeat;
	
	@include media-breakpoint-up(md) {
		flex: 1;
	}	
}



