// Grid settings
$enable-flex:           true;
$enable-transitions:	true;
$main-sm-columns:       24;
$main-md-columns:       24 !default;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #666;
$brand-yellow:			#f2cc0d;
$brand-purple:			#8501ED;
$brand-orange:			#F78F01;
$brand-red:				#E0370B;
$brand-pink:			#F70187;

$black:					#000;
$white:					#fff;
$text-color:			#444;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "filson-soft", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      "reklame-script", Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px !default;

$border-color:			#eee;