.banner,
.banner .main-nav {
	

	@include media-breakpoint-up(md) {
		flex: 0 0 100%;
		width: 100%;
		max-width: 250px;
	}
}


.current-menu-item {
	a,
	a:hover {
		background-color: $brand-yellow !important;
		color: $white;
	}
}

.main-nav {
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.85rem;
    letter-spacing: 2px;
}

.brand {
	background: darken($white, 3%);
	min-height: 200px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex: 0 0 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

nav .nav {
	margin-top: 30px;

	li a {
		transition: all 0.25s ease-in-out;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 3px 20px;
    	display: inline-block;
		border-radius: 10px;

    	&:hover {
    		background-color: darken($white, 5%);
    	}
	}
}


.site-name {
	transition: transform 0.2s;
	position: relative;
	transform: translateY(200px);
	background: $white;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
	font-size: 0.75rem;

	span {
		color: lighten($text-color, 30%);
		display: block;
		font-size: 0.4rem;
	}

	.brand:hover & {
		transform: translateY(60px);
	}

	&::before,
	&::after {
		content: "";
		top: 100%;
		position: absolute;
		width: 6px;
		height: 100px;
		background: $white;
		border-left: 1px solid darken($border-color, 20%);
		border-right: 1px solid darken($border-color, 20%);
	}

	&::before {
		left: 10px;
	}

	&:after {
		right: 10px;
	}
}

.hand-left,
.hand-right {
	position: absolute;
	top: 50%;
	height: 20px;
	margin-top: -10px;
	left: -5px;

	.finger {
		display: block;
		border-radius: 10px;
		width: 11px;
		height: 5px;
		background: $white;
		border: 1px solid darken($border-color, 35%);
	}
}

.hand-right {
	left: auto;
	right: -5px;
}

.face {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	article.post & {
		.eye-l,
		.eye-r {
			background-color: $white;
		}
		.mouth {
			border-bottom-color: $white;
		}
	}

	.eye-l,
	.eye-r {
		@include eye-blink;
		background-color:  $text-color;
		position: absolute;
		width: 8px;
		height: 10px;
		top: 40px;
		border-radius: 100%;
	}

	.eye-l {
		left: 30px;
	}

	.eye-r {
		right: 30px;
	}

	.mouth {
		@include yawn();
		position: absolute;
		left: 50%;
		top: 50px;
		margin-left: -10px;
		border-radius: 100%;
		width: 20px;
		height: 10px;
		border-bottom: 1px solid $text-color;
	}
}
