.banner,
.banner .main-nav {
	

	@include media-breakpoint-up(md) {
		flex: 0 0 100%;
		width: 100%;
		max-width: 250px;
	}
}

.main-nav {
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.85rem;
    letter-spacing: 2px;
}

.brand {
	background: darken($white, 3%);
	min-height: 200px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex: 0 0 100%;
	width: 100%;

}

nav .nav {
	margin-top: 30px;

	li a {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}