// INTRO STYLES

.page-header .first-line strong {
	transition: background-color 0.25s ease-in-out;
	background-color: $brand-yellow;
	color: $white;
	padding: 25px;
	font-family: $font-family-serif;
	border-radius: 100%;
	width: 80px;
    height: 80px;
    display: block;
    margin-right: 20px;

	@include media-breakpoint-up(sm) {
		width: 90px;
		height: 90px;
		margin-right: 20px;
	}

	@include media-breakpoint-up(lg) {
		width: 100px;
		height: 100px;
		margin-right: 25px;
	}

	&:hover {
		@include change-bg-color();
	}
}

.page-header h1 {
	display: flex;
	flex-direction: row;
	align-items: center;

	.first-line,
	.second-line {
		font-size: 1.75rem;

		@include media-breakpoint-up(sm) {
			font-size: 2rem;
		}

		@include media-breakpoint-up(md) {
			font-size: 2.25rem;
		}

		@include media-breakpoint-up(lg) {
			font-size: 2.5rem;
		}

		@include media-breakpoint-up(xl) {
			font-size: 2.7rem;
		}
	}
}

.page-header .second-line {
	font-family: $font-family-sans-serif;
}