.posts-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

	article {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(5px);
    align-content: stretch;
		display: flex;
    width: 260px;
		margin-bottom: 20px;
    padding-right: 20px;
    position: relative;

    @for $i from 1 through 50 {
      .pageloaded & {
        &:nth-child(#{$i}) {
          opacity: 1;
          transform: translateY(0);
          transition-delay: (0.075s * $i);
        }
      }
    }

    // Specifically gallery posts
    &.gallery-post {

  		@for $i from 1 through 50 {

  			&:nth-child(#{$i}) a {
  	  			background: hsla(random(365), 90, 50, 1);
  	  		}
  	  	}

        // Gallery thumb H2
        h2 {
          transition: all 0.25s ease-in-out;
          transform: translateY(2px);
          text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
          opacity: 0;
          font-size: 1.5rem;
          color: $white;
          align-content: center;
          text-align: center;
          padding-left: 2rem;
          padding-right: 2rem;
          z-index: 1;
          width: 100%;
        }

        // Gallery thumb header
        header {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          min-height: auto;
          align-items: center;
        }
    }

		// Everything is wrapped in here
		a {
			position: relative;
			width: 100%;
      height: 240px;
      width: 240px;
      display: block;
      border: 10px solid $white;
      text-align: center;
		}


		img {
      position: absolute;
      width: 220px;
      height: 220px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
			transition: all 0.25s ease-in-out;
			opacity: 1;
		}


		// HOVER
		a:hover {
			h2 {
				opacity: 1;
				transform: translateY(0);
			}

			img {
				opacity: .1;
			}
		}
	}
}


// SINGLE PAGE LOADED TRANSITION
.single article .row,
.page article .row {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(5px);
}

.pageloaded.single article .row,
.pageloaded.page article .row {
  transition-delay: 1.3s;
  transform: translateY(0);
  opacity: 1;
}


.single-post-text {
	order: 1;

	@include media-breakpoint-up(md) {
		order: 2;
	}
}

.size-single-page-img {
	@extend .img-fluid;
}


.comments {
	max-width: 50rem;
}


.page-header,
article.gallery-post header {
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  opacity: 0;
  transform: translateY(5px);
  min-height: 250px;
  align-items: center;
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  font-family: $font-family-serif;


  // PAGED LOADED ANIMATION
  .pageloaded & {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1s;
  }
}

.post-icon {
  background-color: $white;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 50%;
  font-size: .8rem;
  margin-left: -12px;
  text-align: center;
  line-height: 24px;
}


.single-post article header,
.page .page-header {
  min-height: 210px;
}

.artblog-post {

  @for $i from 1 through 50 {

    &:nth-child(#{$i}) .post-thumb-content {
      background: nth($group-colors, random(length($group-colors)));
    }
  }

  h2 {
    padding-top: 40px;
    font-size: 1rem;
    line-height: 1.2;
    color: $white;
  }

  p {
    font-size: 0.7rem;
    line-height: 1.3;
    color: $white;
  }
}

.post-thumb-content {
  padding: 20px;
  height: 100%;
}

.nav-links {

  .nav-previous,
  .nav-next {
    display: inline-block;
    margin-right: 10px;

    a {
      transition: background-color 0.25s ease-in-out;
      background: $white;
      padding: 10px;
      text-transform: uppercase;
      font-size: 0.5rem; 
      letter-spacing: 3px;

      &:hover {
        background-color: $brand-yellow;
        color: $white;
      }

      &::after,
      &::before {
        font-family: "FontAwesome";
      }
    }
  }
  .nav-next a::after {
    content: $fa-var-chevron-right;
    padding-left: 5px;
  }
  .nav-previous a::before {
    content: $fa-var-chevron-left;
    padding-right: 5px;
  }
}